body, header, h1, h2, h3, nav, a, div, ul, li, img, main, footer {
  margin: 0;
  padding: 0; }

.clearfix {
  overflow: auto;
  zoom: 1; }

h1,
h2,
h3 {
  text-transform: uppercase; }

h2,
h3 {
  font: 17px "Lato", sans-serif; }

h1,
h2,
.info-module h3,
.gallery-box h3 {
  color: #9d9c9d; }

h1 {
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.wrapper {
  margin: 0 auto;
  max-width: 58%; }

.full-wrapper {
  width: 100%; }

.title {
  display: inline; }

.title-bold {
  color: #664735;
  font-family: "Lato", sans-serif; }

.title-cursive {
  font-family: "Montez", cursive;
  font-size: 3.384375em; }

nav {
  background-color: #f5f4f4;
  border-radius: 34px;
  box-sizing: border-box;
  float: right;
  padding: 2.2% 0;
  width: 50%; }

nav > a {
  border-right: 1px solid  #e6e6e6;
  color: #9d9c9d;
  font: 14px "Lato", sans-serif;
  padding: 3% 4% 4%;
  text-decoration: none;
  text-transform: uppercase; }
  nav > a:last-child {
    border-right: none; }

.nav {
  margin-bottom: 4.5%; }

header {
  background-color: #e8e8e8;
  padding: 2% 0; }

.slider {
  position: relative; }

.slider-content {
  float: left;
  margin: 0 14% 6% 9%;
  width: 38%; }
  .slider-content p {
    color: #9d9c9d; }
  .slider-content a {
    color: #6f6d6d;
    font-style: italic;
    text-decoration: none; }

.slider a {
  text-decoration: none; }

.slider-prev {
  left: 0;
  position: absolute;
  top: 50%; }

.slider-next {
  right: 0;
  position: absolute;
  top: 50%; }

.slider-nav {
  bottom: 0;
  left: 50%;
  position: absolute; }

.slider-nav li {
  display: inline-block; }

.slider-nav a {
  display: block;
  height: 0.5625em;
  width: 0.5625em; }

.noselected-option {
  background-image: url("../img/icon/noselected-option.png"); }

.selected-option {
  background-image: url("../img/icon/selected-option.png"); }

.slider {
  margin-top: 5%; }

.info-module {
  display: inline-block;
  margin-right: 10.2%;
  text-align: center;
  width: 26.2%; }
  .info-module:last-child {
    margin-right: 0; }
  .info-module a {
    color: #664735;
    text-decoration: none; }
  .info-module p {
    color: #9d9c9d; }

.info {
  margin-bottom: 7%;
  margin-top: 4%; }

.who img {
  float: left;
  height: 25.4375em;
  width: 50%; }

.who-content {
  background-color: #664735;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  padding: 3% 4% 5.7% 3%;
  width: 50%; }

.btn-more {
  color: #664735;
  font-family: "Lato", sans-serif;
  padding: 2%; }

.gallery-box {
  text-align: center; }
  .gallery-box p {
    color: #b5b4b5; }
  .gallery-box h3 {
    margin-bottom: 2%; }

.gallery-img img {
  height: 250px;
  width: 27.5%; }

.gallery-box {
  margin-top: 8%;
  margin-bottom: 7%; }

footer {
  background-image: url("../img/icon/footer-patterns.png");
  color: #fff; }

.footer-info {
  display: inline-block;
  float: left;
  margin-right: 3.7%;
  width: 21%; }
  .footer-info li {
    list-style: none; }

.footer-wrapper {
  padding: 1% 0;
  height: 13.125em; }

.copy {
  color: #666666;
  font-style: italic; }

.arrow-center {
  text-align: center; }

.arrow-top {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
