footer {
    background-image: url("../img/icon/footer-patterns.png");
    color: #fff;
}

.footer-info {
    display: inline-block;
    float: left;
    margin-right: 2.3125em;
    width: 14.6875em;

    li {
        list-style: none;
    }
}

.footer-wrapper {
    padding: 0.9375em 0;
    height: 13.125em;
}
