footer {
    background-image: url("../img/icon/footer-patterns.png");
    color: #fff;
}

.footer-info {
    display: inline-block;
    float: left;
    margin-right: 3.7%;
    width: 21%;

    li {
        list-style: none;
    }
}

.footer-wrapper {
    padding: 1% 0;
    height: 13.125em;
}
