.info-module {
    display: inline-block;
    margin-right: 6.9375em;
    text-align: center;
    width: 18.125em;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: #664735;
        text-decoration: none;
    }

    p {
        color: #9d9c9d;
    }
}
