.info-module {
    display: inline-block;
    margin-right: 10.2%;
    text-align: center;
    width: 26.2%;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: #664735;
        text-decoration: none;
    }

    p {
        color: #9d9c9d;
    }
}
