.info-module {
    display: inline-block;
    margin-right: 111px;
    text-align: center;
    width: 290px;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: #664735;
        text-decoration: none;
    }

    p {
        color: #9d9c9d;
    }
}
