nav {
    background-color: #f5f4f4;
    border-radius: 2.1875em;
    float: right;
    padding: 1.5625em 0;
}

nav > a {
    border-right: 0.0625em solid  #e6e6e6;
    color: $light-gray;
    font: 0.625em $secondary-font;
    font-size: 0.891875em;
    padding: 1.5625em 1.6875em 1.25em;
    text-decoration: none;
    text-transform: uppercase;

    &:last-child {
        border-right: none;
    }
}

.nav {
    margin-bottom: 90px;
}
