.who img{
    float: left;
    height: 25.4375em;
    width: 50%;
}

.who-content {
    background-color: #664735;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    padding: 3% 4% 5.7% 3%;;
    width: 50%;
}

.btn-more {
    color: #664735;
    font-family: $secondary-font;
    padding: 2%;
}
