.who img{
    float: left;
    height: 25.4375em;
    width: 50%;
}

.who-content {
    background-color: #664735;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    height: 25.4375em;
    padding: 3.75em 5.625em 3.125em 3.125em;
    width: 50%;
}

.btn-more {
    color: #664735;
    font-family: $secondary-font;
    padding: 0.9375em;
}
